  <style>
    @media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

  </style>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: white;">
    <div class="container">
	  <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
        
      </a>
                <a style="color: #64a351; font-weight: bolder;" class="hide-desktop nav-link js-scroll-trigger" href="tel:(530) 889-8780"> <i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i>


                  (530) 889-8780</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
        {% if site.locale and site.locale != "" and site.locale != nil %}
        {% for link in site.data.navigation[site.locale].nav %}
          <li class="nav-item">
            {%- if link.url -%}
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            {%- elsif link.section -%}
              <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
            {%- else -%}
              <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
            {%- endif -%}
          </li>
        {% endfor %}
        {% else %}
        {% for link in site.data.navigation.nav %}
        <li class="nav-item">
          {%- if link.url -%}
            <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
          {%- elsif link.section -%}
            <a  href="#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
            <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {% endfor %}
        {% endif %}
        <li class="nav-item">
          <a style="color: #64a351; font-weight: bolder;" class="hide-mobile nav-link js-scroll-trigger" href="tel:(530) 889-8780"> <i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i>


            (530) 889-8780</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->
  <a style="color: #64a351; font-weight: bolder;" class="nav-link js-scroll-trigger" href="tel:5308898780"> <i class="fa fa-phone fa-rotate-90" aria-hidden="true"></i>


    5308898780</a>
  <!-- Header -->
  {% if site.locale and site.locale != "" and site.locale != nil %}
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
	  {%- if site.data.sitetext[site.locale].header.title -%}
        <div style="background-color: rgba(100, 163, 81, 0.3);" class="intro-lead-in">{{ site.data.sitetext[site.locale].header.title | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext[site.locale].header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext[site.locale].header.text | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext[site.locale].header.button -%}
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ site.data.sitetext[site.locale].header.buttonlink }}">{{ site.data.sitetext[site.locale].header.button }}</a>
	  {%- endif -%}
      </div>
    </div>
  </header>
  {% else %}
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
	  {%- if site.data.sitetext.header.title -%}
        <div class="intro-lead-in">{{ site.data.sitetext.header.title | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.text -%}
        <div class="intro-heading text-uppercase">{{ site.data.sitetext.header.text | markdownify }}</div>
	  {%- endif -%}
	  {%- if site.data.sitetext.header.button -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a>
	  {%- endif -%}
      </div>
    </div>
  </header>
  {% endif %}
  <!-- End Header -->