<section class="page-section" id="refer">
    <div class="container">
      <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
          <h2>Why Refer to Beautiful Minds Medical?</h2>
        </div>
        <!-- Second Column -->  
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb-3">
              <div class="card h-100 custom-border circular">
                <div class="card-body">
                    <h5 class="card-title">No Waitlists</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border circular">   
                <div class="card-body">
                  <h5 class="card-title">Flexible Scheduling</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 mb-3">
              <div class="card h-100 custom-border circular">
                <div class="card-body">
                  <h5 class="card-title">Virtual Care</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
              <div class="card h-100 custom-border circular">
                <div class="card-body">
                  <h5 class="card-title">Industry-Leading Outcomes</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border circular">
                <div class="card-body">
                  <h5 class="card-title">Insurance Accepted</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border circular">
                <div class="card-body">
                  <h5 class="card-title">Close Collaboration</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  