<section class="page-section" id="{{ site.data.sitetext[site.locale].team.section | default: "team" }}">
    <div class="container">
      <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
          <h2>Why Refer to Beautiful Minds Medical?</h2>
        </div>
        <!-- Second Column -->
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border">
                <div class="card-body">
                  <h5 class="card-title">No Waitlists</h5>
                  <p class="card-text">Clients can get started with treatment in as little as 24 hours.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border">
                <div class="card-body">
                  <h5 class="card-title">Flexible Scheduling</h5>
                  <p class="card-text">Flexible scheduling (including nights & weekends) allows clients to maintain their normal routines.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border">
                <div class="card-body">
                  <h5 class="card-title">Virtual Care</h5>
                  <p class="card-text">Clients can receive treatment from anywhere, allowing them to heal where they feel safe.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border">
                <div class="card-body">
                  <h5 class="card-title">Industry-Leading Outcomes</h5>
                  <p class="card-text">96% of Beautiful Minds Medical clients do not readmit to a higher level of care post-discharge.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border">
                <div class="card-body">
                  <h5 class="card-title">Insurance Accepted</h5>
                  <p class="card-text">We proudly partner with many major insurance providers, including commercial and Medicaid.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card h-100 custom-border">
                <div class="card-body">
                  <h5 class="card-title">Close Collaboration</h5>
                  <p class="card-text">We’ll keep you updated on your client’s progress throughout their time in treatment.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  