// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
    object-fit: cover;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
.overlay{
  background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.circular{
  border-radius: 50%;
  background-color: #277a0e;
}